body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: #333;
}

h1 {
    font-size: 2rem;
    color: #4CAF50;
    margin-bottom: 20px;
}

input[type="text"], select {
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    transition: all 0.3s ease-in-out;
}

input[type="text"]:focus, select:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background-color: #45a049;
}

/* Ocultar elementos */
.hide {
    display: none;
}

/* Resultado */
#resultado {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 400px;
    text-align: left;
}

#resultado h2 {
    color: #4CAF50;
    font-size: 1.5rem;
    margin-top: 10px;
    text-align: center;
}

#enderecos {
    list-style: none;
    padding: 0;
    margin: 0;
}

#enderecos li {
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

#enderecos li:last-child {
    margin-bottom: 0;
}

#enderecos li strong {
    color: #4CAF50;
}

#enderecos li:not(:last-child) {
    margin-bottom: 15px;
}

/* Botões adicionais */
#btnAlt, #backToCepBtn {
    background-color: #2196F3;
}

#btnAlt:hover, #backToCepBtn:hover {
    background-color: #1976D2;
}

/* Ajustes para posicionamento */
#resultado.cep-search {
    margin-top: 10px;
}

#resultado.address-search {
    margin-top: 20px;
}

/* Responsividade */
@media (max-width: 500px) {
    button {
        width: 80%;
    }

    #cep{
        width: 90%;
        margin: 10px;
    }
    input{
        width: 300px;
        margin-bottom: 10px;
    }

    #addressSearch {
        margin: 10px;
        width: 80%;
        margin-bottom: 50px;

    }

    #btn{
        margin: 10px;
        width: 95%;
    }

    #btnAlt{
        margin: 10px;
        width: 95%;
    }

    #searchAddressBtn {
        width: 102.5%;
    }

    #backToCepBtn{
        margin-top: 10px;
        width: 102.5%;
    }

    #resultados {
        width: 80%;
    }

    #endereco li {
        padding: 8px;
        font-size: 0.9rem;
    }
}