body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: #333;
}

h1 {
    font-size: 2rem;
    color: #4CAF50;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    transition: all 0.3s ease-in-out;
}

input[type="text"]:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background-color: #45a049;
}

/* Resultado */
.hide {
    display: none;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 1s ease, transform 1s ease;
}

#resultado.show {
    opacity: 1;
    transform: translateY(0);
    animation: fadeIn 0.5s ease;
}

#resultado {
    margin-top: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 400px;
    text-align: left;
}


#resultado h2 {
    color: #4CAF50;
    font-size: 1.5rem;
    margin-top: 10px;
    text-align: center;
}

#resultado p {
    font-weight: bold;
    font-size: 1rem;
    color: #555;
    margin: 5px 0;
}

#resultado span {
    font-weight: bold;
    color: #333;
}

/* Animação de fadeIn */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsividade */
@media (max-width: 500px) {
    input[type="text"] {
        width: 75%;
    }

    button {
        width: 80%;
    }

    #resultado {
        width: 80%;
    }
}
